# Python cache and environment files
__pycache__/
*.pyc
venv/
env/

# Data and model files - Do not commit these to GitHub!
ml_dataset.json
*.pkl
corrections.json
*.keras
evaluation.py

# Local folders for beatmaps
downloads/

# Secrets file
.env

# IDE and OS-specific files
.idea/
.vscode/
.DS_Store
*.png
